/* body{
    text-align: center;
    background: linear-gradient(-200deg, #746f6b 30%, rgba(0, 0, 0, 0) 100%); 
}

.container{
    height:500px;
    max-width: 600px;
    width: 100%;
    margin: auto;
    background: #746f6b;
    border-radius: 30px;
}

.container{
    filter: blur(0.6px);
    box-shadow: 

    -3px 15px 10px rgb(21, 20, 20),
    0px 2.5px 5px  rgba(255, 255, 255),

    25px 20px 10px rgb(21, 20, 20),

    -10px 20px 30px rgba(255, 255, 255),

    20px 20px 20px rgba(255, 255, 255);
} */
body {
    height: 100%;
    width: 100%;
    background-image: url("reg-img.jpg");
  }
  * {
    box-sizing: border-box;
  }
  
  .reg-img {
    /* The image used */
   
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    
    /* Add the blur effect */
    filter: blur(0px);
    -webkit-filter: blur(0px);
  
    /* Full height */
    height: 100%;
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .reg-img {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.8);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
  
h1{
    margin-bottom: 3.5px;
}
.text-input{
    margin-top: 5.5px;
    margin-bottom: 5.5px;
}
.locations{
    margin-top: 8.5px;
    margin-bottom: 16px;
}
.buttons{
    margin-bottom: -5.5px;
    margin-top: 10.5px;
}
.regNo-output{
    margin-top: 15px; 
    /* color: #090b0c;
    border: 5px outset rgb(8, 7, 7); */
    text-transform: capitalize;
   
}
.errors {
    color: red;
    margin-bottom: 10px;
}
.success {
    color: green;
    margin-bottom: 10px;
}
.database {
    color: green;
    margin-bottom: 10px;
}
.btn{
    list-style-type: none;
    float: left;
    border: 2px solid black;
    padding: 8px;
    font-size: 1 rem;
    color: #090b0c;
    background-color: rgb(255, 217, 3);
    text-transform: capitalize;
    border-radius: 12px;
    margin-right: 30px;
    text-align: center;
    width: 80px;
    line-height: 15px;
   
}

.btn2{
    margin: 5px;
    border: 2px solid black;
    padding: 10px;
    font-size: 1.5rem;
    color: #090b0c;
    background-color: rgb(252, 251, 244);
    text-transform: capitalize;
    border-radius: 12px;
   
} 
.btn3{
    margin: 5px;
    border: 2px solid black;
    padding: 10px;
    font-size: 1.5rem;
    color: #090b0c;
    background-color: rgb(17, 130, 7);
    text-transform: capitalize;
    border-radius: 12px;
}
.btn4{
    margin: 5px;
    border: 2px solid black;
    padding: 10px;
    font-size: 1.5rem;
    color: #090b0c;
    background-color: rgb(255, 217, 3);
    text-transform: capitalize;
    border-radius: 12px;
}
.Add{
    background-color: rgb(144, 225, 243);
    color: black;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 3px;
    margin-top: 8.5px;
}
.Clear{
    background-color: rgb(144, 225, 243);
    color: black;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 3px;
    margin-top: 8.5px;
}
.Show{
    background-color: rgb(144, 225, 243);
    color: black;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 3px;
    margin-top: 8.5px;
}
.Show-All{
    background-color: rgb(144, 225, 243);
    color: black;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 3px;
    margin-top: 8.5px;
}
